/* .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.title{
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 20px;
}
.inputSea{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: 10px;

}
.input{
  border: none;
  border-radius: 40px 0 0 40px;
  width: 70%;
  color: #f0f0f0;

}
.btn{
  padding: 10px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
}  */


/* `api.openweathermap.org/data/2.5/forecast?lat=33.44&lon=-94.04&appid=9097d7a6f22f5fdb980de02146c0cd19` */